html, body{
    background-color: #000;
    color: #fff;
    font-family: Helvetica, sans-serif;
}
a{
    color: var(--bs-white);
}
:root {
    --color1: #f23005;
    --color2: #fff;
    --color3: #151515;
    --color4: #0a0a0a;
}
.main{
    background-color: var(--color3);
}
/* header */

.logo a{
    color: var(--color2);
    text-decoration: none;
}
.logo h4{
    margin: 25px auto;
}
.logo span{
    color: var(--color1);
}
.account{
    float: left;
}
.account h6{
    font-weight: lighter;
    position: relative;
    top: 20px;
    margin-left: 10px;
}
.account h6::after{
    content: "296 days";
    color: var(--color1);
    display: block;
    font-size: 13px;
    margin-top: 15px;
}
.account img{
    width: 80px;
    height: 80px;
}
.search{
    height: 100%;
    background-color: var(--color1);
    float: right;
}
.search input{
    border: none;
    border-bottom: 1px solid var(--color2);
    background-color: var(--color1);
    color: var(--color2);
    padding: 0 0 5px 10px;
    outline: none;
    margin: 35px 0 0 35px;
    font-size: 14   px;
    min-width: 250px;
}
.search input::placeholder{
    color: var(--color2);
}
.search i{
    border-radius: 50%;
    border: 1px solid var(--color2);
    padding: 10px;
    margin: 30px;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
    transition: 0.3s;
}
.search i:hover{
    background-color: #b83012;
}

/* main */
.main{
    padding-top: 30px;
}


/* main-left */

/* nav */
.nav-link{
    color: var(--color2);
    font-size: 16px;
    padding: 30px 0 30px 20px;
    transition: 0.3s;
}
.nav-link i{
    color: var(--color1);
    margin-right: 10px;
    font-size: 24px;
}
.nav-link:hover{
    color: var(--color1);
    background-color: #201f1f;
}

/* line */
.line{
    background-color: var(--color1);
    width: 15%;
    height: 2px;
    margin: 20px 0 20px 20px;
}

/* statistics */
.statistics h6{
    margin-left: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.statistics .list-group{
    margin-left: 20px;
    font-size: 14   px;
    margin-bottom: 40px;
}
.statistics .list-group li{
    background-color: var(--color3);
    padding-left: 0;
    color: #505050;
    border: none;
}
.statistics span{
    color: var(--color1);
    float: right;
}

/* main-center */
.main .black-box{
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    margin: 0 auto;
    transition: 0.2s;
    cursor: pointer;
    max-width: 301px;
}

.black-box:hover{
    background-color: rgb(0, 0, 0, 0.8);
}

.name, .like{
    visibility: hidden;
    position: absolute;
    transition: 0.1s;
}
.name{
    top: 30px;
    left: 30px;
    text-align: left;
}
.like{
    bottom: 30px;
    left: 30px;
}

.play-btn {
    border: 2px solid var(--bs-white);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: 25%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.5s ease;
    display: none;
}
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 12px 20px;
    border-color: transparent transparent transparent var(--bs-white);
    margin-right: -3px;
}

.black-box:hover .like{
    visibility: visible;
}
.black-box:hover .name{
    visibility: visible;
}
.black-box:hover .play-btn{
    display: flex;
}


/* marin-right */
.playlists-head{
    margin: 30px 0;
}
.playlists-head i{
    color: var(--color1);
    font-size: 28px;
    position: relative;
    top: 2px;
}
.accordion-item{
    background-color: var(--color3);
    border: none;
}
.playlists-head span{
    margin-left: 15px;
    font-weight: normal;
    font-size: 16px;
}

.accordion-button{
    padding: 25px;
    font-size: 16px;
}
.accordion-flush .accordion-item .accordion-button{
    background-color: var(--color3);
    color: var(--bs-white);
}
.accordion-button:hover{
    background-color: #201f1f;
}
.accordion-button::after{
    display: none;
}
.accordion-body{
    background-color: var(--color3);
}
.accordion-button:not(.collapsed), .accordion-button:focus{
    box-shadow: none;
}
.list-group-item-action:focus, .list-group-item-action:hover{
    background-color: var(--color3);
    color: var(--color1);
}
.accordion .list-group-item{
    background-color: var(--color3);
    color: grey;
    transition: 0.2s;
    font-size: 14px;
    border: none;
    border-left: 2px solid var(--color1);
}
.accordion .list-group-item:hover{
    margin-left: 10px;
    color: var(--color1);
}


/* player */
.player{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color4);
    width: 100%;
}
.player img{
    /* float: left;
    margin: 25px 0 20px 25px; */
    max-width: 70px;
    max-height: 70px;
}
.player .current-track-name{
    /* float: left;
    margin-left: 30px;
    margin-top: 35px; */
    height: auto;
    padding-top: 15px;
}
.current-track-name h6{
    font-size: 14px;
}
.current-track-name p{
    font-size: 12px;
}

/* .start-stop{
    display: flex;
    margin: 45px 0;

     float: left;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} */
.icon-pause, .icon-to-end, .icon-to-start{
    font-size: 20px;
    padding: 5px;
    color: var(--bs-white);
}
.icon-pause{
    border: 1px solid var(--bs-white);
    border-radius: 50%;
}

 .duration{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pre-timer, .post-timer{
    width: auto;
    float: left;
    position: relative;
    top: 3px;
}
.duration-line{
    width: 70%;
    background-color: var(--color3);
    height: 8px;
    border-radius: 25px;
    float: left;
    margin: 0 20px;
}
    
.current-duration{
    width: 55%;
    height: 8px;
    border-radius: 25px;
    background-color: var(--color1);
}

.mode{
    float: left;
    font-size: 22px;
    padding-left: 20px;
    font-weight: lighter;
}
.volume{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}












@media screen and (max-width: 1200px) {
    .search input{
        display: none;
    }
    .search i{
        display: block;
        margin: 20px  20px;
    }
    .search{
        margin-right: -12px;
    }
    .song-logo img{
        display: none;
    }
    .icon-to-start, .icon-to-end{
        display: none;
    }
}